:root{
  /* --border: #6d796d; */
  --box-size: 100px;
  --revealed-bg: #e2c088;
  --revealed-bg-1: #EECC96;
  --unrevealed-bg: #a7c58c;
  --unrevealed-bg-1: #b5d19a;
  --mine-bg-1:#cc5b5f;
  --mine-bg:#bd4c50;
}

.App {
  text-align: center;
}

p, h1{
  width: 100%;
}

h1{
	line-height: 20px;
}

header{
	margin-top:40px;
	margin-bottom:20px;
}

body{
  background-color: lightgray;
}

.controls{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--box-size);
  margin: auto;
  padding-bottom: 10px;
}

.controls button{
  padding-top:5px;
  width: 35px;
  height: 35px;
  border: 2px solid darkgray;
}
.controls button:hover{
  background-color: lightgray;
}

.controls select{
  border: 2px solid darkgray;
}
.controls select:focus{
  border: 2px solid darkgray!important;
}

.controls select option:active{
  color: red;
}

.grid{
  width:var(--box-size);
  height: var(--box-size);
  display: inline-block;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row{
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}


@media (min-width: 200px) {
  :root{
  --box-size: 200px;
	}
}

@media (min-width: 300px) {
  :root{
  --box-size: 300px;
	}
}

@media (min-width: 400px) {
  :root{
  --box-size: 400px;
	}
}

@media (min-width: 600px) {
  :root{
  --box-size: 600px;
	}
}
