:root{
  --border: #6E5E64;
  --box-size: 100px;
}

.App {
  text-align: center;
}

p, h1{
  width: 100%;
}

h1{
	line-height: 20px;
}

header{
	margin-top:40px;
	margin-bottom:20px;
}

button{
  border:none;
  border-left: .2em solid var(--border);
  border-top: .2em solid var(--border);
  line-height: 0;
}
button:last-child{
  border-right: .2em solid var(--border);
}
.row:last-child button{
  border-bottom: .2em solid var(--border);
}

.grid{
  width:var(--box-size);
  height: var(--box-size);
  display: inline-block;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row{
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.square{
  background-color: #EECC96;
  width: 100%;
}

.flagged{
  background-color: white;

}

.unrevealed {
  background-color: #b5d19a;
}

.mine {
  background-color: #cc5b5f;
}


@media (min-width: 200px) {
  :root{
  --border: #6E5E64;
  --box-size: 200px;
	}
}

@media (min-width: 300px) {
  :root{
  --border: #6E5E64;
  --box-size: 300px;
	}
}

@media (min-width: 400px) {
  :root{
  --border: #6E5E64;
  --box-size: 400px;
	}
}

@media (min-width: 600px) {
  :root{
  --border: #6E5E64;
  --box-size: 600px;
	}
}
